body {
    background: sandybrown;
}

.container {
    background: white;
    padding: 0 24px 15px;
}

h3 {
    color: green;
}

h4 {
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

* {
    font-family: "楷体";
    font-size: 18px;
}

.markdown-body blockquote {
    color: #d11;
    border-left: 0;
    padding: 6px;
    border-radius: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size: 16px;
}

section {
    color: black;
    background: rgba(128, 128, 128, 0.5);
    padding: 10px;
    border-radius: 12px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px 0
}

/*原文*/