body {
    background: sandybrown;
}

.container {
    background: white;
    padding: 0 24px 15px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

h3 {
    color: green;
}

h4 {
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

* {
    font-family: "楷体";
    font-size: 18px;
}

.markdown-body blockquote {
    color: #d11;
    border-left: 0;
    padding: 6px;
    border-radius: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.markdown-body blockquote p{
    font-size: 16px;
}
.markdown-body blockquote p b{
    color:#387a07;
    font-size: 16px;
}
.markdown-body blockquote:last-child{
    background: #f8f4f4;
    color:red;
    padding: 12px;
}
section { /* 标签上面有内容才起效 */
    color: #08207a;
    background: rgba(207, 200, 200, 0.5);
    padding: 10px;
    border-radius: 12px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px 0
}
aside {
    color: #270c5b;
    background: rgba(129, 92, 59, 0.5);
    padding: 15px 20px;
    border-radius: 12px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px 0;
    font-size: 16px
}
aside p{
    font-size: 16px; 
}
/*原文*/