green{color:green;}
greenbold{color:green;font-weight: bold}
blue{color:blue;}
red{color:red;}
redbold{color:red;font-weight: bold}
cyan{color:cyan;}
purple{color:purple;}
.bold{font-weight: bold;}
.eightteen{font-size:18px;}
.twenty{font-size:20px;}
